<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <sessionState timeout="180" />
    <httpRuntime executionTimeout="600" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="ConnectionSIAA" connectionString="Data Source=192.168.0.201; initial Catalog=DBERP; User Id=sa; Password=sa" providerName="System.Data.SqlClient" />
    <add name="ConnectionTuartdb" connectionString="Server=192.168.0.100; Port=5432; User Id=cliente; Password=admin; Database=tuartdb" providerName="Npgsql" />
    <add name="ConnectionSAP" connectionString="Data Source=192.168.0.213; initial Catalog=SBO_ATLAS_PRODUCCION; User Id=sa; Password=SBOartatlas" providerName="System.Data.SqlClient" />
    <add name="ConnectionOdoo" connectionString="Server=192.168.0.15; Port=5432; User Id=sistemas; Password=sis7emas; Database=ArtAtlasPrueba" providerName="Npgsql" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="servidor" value="127.0.0.1" />
  </appSettings>
</configuration>